/* Support for https://github.com/liamcain/obsidian-calendar-plugin */

@import "../../colors.scss";

#calendar-container {
  .title {
    .year {
      color: $indigo;
    }
  }

  div.arrow svg {
    color: $indigo;
  }

  tr {
    td:not(:empty) {
      border-radius: 5px;

      &.today {
        color: $green;
      }

      &.active {
        background-color: $gray-6 !important;
      }

      &:hover {
        background-color: $gray-5 !important;
      }

      .dot-container {
        .dot {
          fill: rgba($green, 0.5) !important;
        }
      }
    }

    td:empty {
      background-color: inherit;
    }
  }
}
