@import "../../colors.scss";

.cm-s-obsidian {
  font-family: var(--font-monospace);
  color: $text-paragraph;
  font-size: var(--font-editor-size);
  line-height: 1.5em;

  .CodeMirror-linenumber {
    color: rgba($indigo, 0.5);
    font-size: var(--font-editor-linenumbers-size);
  }

  .CodeMirror-gutter-elt {
    width: 25px !important;
  }

  .cm-formatting,
  .CodeMirror-foldmarker {
    color: $indigo !important;
  }

  .cm-header {
    color: $yellow;
  }

  .cm-header-1,
  .cm-header-2,
  .cm-header-3,
  .cm-header-4,
  .cm-header-5,
  .cm-header-6 {
    font-size: var(--font-editor-size);
    line-height: 1.5em;
  }

  .cm-formatting-link,
  .cm-link {
    color: $blue !important;
  }

  .cm-formatting-link-string,
  .cm-url {
    color: $orange !important;
  }

  span.cm-hmd-internal-link {
    color: $green !important;
  }

  .cm-em,
  .cm-strong {
    color: $light-red;
  }

  span.cm-inline-code {
    color: $cyan;
    font-size: inherit;
    // Patch for https://forum.obsidian.md/t/collapsed-code-block-in-list-causes-additional-padding-in-inline-code-elements-in-parent-block/7633
    padding: 0 !important;
  }

  pre.HyperMD-codeblock {
    line-height: 1.5em;
    font-size: var(--font-editor-size);
  }

  span.cm-hmd-codeblock,
  span.cm-hmd-indented-code,
  span.cm-math,
  pre.HyperMD-codeblock {
    color: $text-dark;

    span.cm-keyword {
      color: $purple !important;
    }

    span.cm-def {
      color: $text-primary !important;
    }

    span.cm-variable {
      color: $sky-blue !important;
    }

    span.cm-operator {
      color: $cyan !important;
    }

    span.cm-number {
      color: $orange !important;
    }

    span.cm-string {
      color: $green !important;
    }

    span.cm-comment {
      color: $indigo !important;
    }
  }

  .cm-quote {
    color: $text-gray !important;
    font-style: italic;
  }
}

.cm-s-obsidian .hmd-fold-html-stub,
.cm-s-obsidian .hmd-fold-code-stub,
.cm-s-obsidian.CodeMirror .HyperMD-hover > .HyperMD-hover-content code,
.cm-s-obsidian .cm-formatting-hashtag,
.cm-s-obsidian .cm-inline-code,
.cm-s-obsidian .HyperMD-codeblock,
.cm-s-obsidian .HyperMD-hr,
.cm-s-obsidian .cm-hmd-frontmatter,
.cm-s-obsidian .cm-hmd-orgmode-markup,
.cm-s-obsidian .cm-formatting-code,
.cm-s-obsidian .cm-math,
.cm-s-obsidian span.hmd-fold-math-placeholder,
.cm-s-obsidian .CodeMirror-linewidget kbd,
.cm-s-obsidian .hmd-fold-html kbd {
  font-family: var(--font-monospace);
}
