@import "../../colors.scss";

input,
textarea {
  border: 1px $gray-1 !important;
  color: $text-primary !important;
  font-family: var(--font-monospace) !important;
}

textarea {
  background-color: var(--background-modifier-form-field);

  &:hover {
    background-color: var(--background-modifier-form-field-highlighted);
  }
}
