@use '../../colors.scss';

.pane-clickable-item:hover {
  background-color: $gray-5;
}

.tree-item-children > .tree-item {
  border-left: 1px solid $gray-5;
  padding-left: 10px;
}

.tree-item-children {
  margin-left: 10px;
}
