@import "../../colors.scss";

.tree-item-self {
  .collapse-icon {
    color: $indigo;
    opacity: 0.5;
  }

  &.is-clickable:hover {
    background-color: $gray-5;
  }
}

.tree-item-children {
  margin-left: 10px;

  & > .tree-item {
    border-left: 1px solid $gray-5;
    padding-left: 10px;
  }
}

.tree-item-flair {
  background-color: $gray-6;
  text-align: center;
}

.search-result-file-match {
  background-color: $gray-2;
  border: 1px solid $gray-1;
  padding: 15px;
  margin-top: 3px;
  border-radius: 5px;

  &:hover {
    background-color: $gray-2;
    border: 1px solid var(--interactive-accent);
    cursor: pointer;
  }
}
