@import "../../colors.scss";

.workspace-split,
.workspace-ribbon,
.workspace-ribbon.mod-left.is-collapsed {
  border-right: 1px solid $gray-2;
}

.workspace-ribbon.mod-right.is-collapsed {
  border-left: none;
}

.status-bar {
  border-top: 1px solid $gray-2;
}

.status-bar,
.workspace-ribbon,
.workspace-ribbon.is-collapsed,
.workspace-split.mod-left-split .workspace-tabs,
.workspace-split.mod-left-split .workspace-tabs .workspace-leaf,
.workspace-split.mod-right-split .workspace-tabs .workspace-leaf,
.workspace-leaf-resize-handle {
  background-color: $gray-3;
}

.workspace-tab-container-before,
.workspace-tab-container-after {
  display: none;
}

.workspace-split .workspace-tabs:not(:first-child) {
  border-top: 1px solid $gray-2;
}

.workspace-tab-header-container {
  height: 40px;
  padding: 0;
  margin-top: 4px;
  margin-left: 4px;
}

.workspace-tab-container-inner {
  border-radius: 10px;
  background-color: $gray-1 !important;
  border: 2px solid $gray-1;
  display: flex;
  justify-content: center;
  align-items: center;
  stroke-width: 0;
}

.workspace-tab-header {
  background-color: transparent;
  border-radius: 10px !important;
}

.workspace-tab-header-inner {
  padding: 10px;
}

.workspace-tab-header-inner-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.workspace-tab-header.is-before-active,
.workspace-tab-header.is-after-active {
  background-color: transparent;

  .workspace-tab-header-inner {
    background-color: transparent;
  }
}
