$gray-1: #131421;
$gray-2: #191a2a;
$gray-3: #1e2030;
$gray-4: #222436;
$gray-5: #2f334d;
$gray-6: #444a73;
$gray-7: #828bb8;
$gray-8: #a9b8e8;
$gray-9: #b4c2f0;
$gray-10: #c8d3f5;
$desaturated-gray: #7f85a3;

$dark-red: #ff5370;
$red: #ff757f;
$light-red: #ff98a4;
$orange: #ff966c;
$dark-orange: #fc7b7b;
$yellow: #ffc777;
$green: #c3e88d;
$teal: #4fd6be;
$aqua: #50c4fa;
$cyan: #86e1fc;
$cyan-alt: #b4f9f8;
$sky-blue: #65bcff;
$blue: #82aaff;
$dark-blue: #3e68d7;
$pink: #fca7ea;
$purple: #c099ff;
$indigo: #7a88cf;

$text-light: #e2e8fa;
$text-primary: #c8d3f5;
$text-paragraph: #c0cdf3;
$text-secondary: #b4c2f0;
$text-gray: #a9b8e8;
$text-dark: #828bb8;
