@import "../../colors.scss";

.markdown-preview-view {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 1.25;
    color: $text-primary;
    display: block;
    align-items: center;
    white-space: pre-wrap;
  }

  h1 {
    font-size: var(--font-h1-preview-size);

    .heading-collapse-indicator {
      padding-top: 20px;
    }
  }

  h2 {
    font-size: var(--font-h2-preview-size);

    .heading-collapse-indicator {
      padding-top: 10px;
    }
  }

  h3 {
    font-size: var(--font-h3-preview-size);

    .heading-collapse-indicator {
      padding-top: 7px;
    }
  }

  h4 {
    font-size: var(--font-h4-preview-size);

    .heading-collapse-indicator {
      padding-top: 7px;
    }
  }

  h5 {
    font-size: var(--font-h5-preview-size);

    .heading-collapse-indicator {
      padding-top: 5px;
    }
  }

  h6 {
    font-size: var(--font-h6-preview-size);
    color: $text-gray;

    .heading-collapse-indicator {
      padding-top: 5px;
    }
  }

  h1,
  h2 {
    padding-bottom: 0.3em;
    border-bottom: 1px solid rgba($indigo, 0.25);
  }

  .heading-collapse-indicator {
    color: $indigo;
  }
}
