.popover {
  &.hover-popover {
    max-height: 500px;
    min-height: 200px;

    width: 600px;

    & .markdown-embed {
      height: unset;
    }

    & > .markdown-embed {
      height: 500px;
      font-size: var(--font-hover-preview-size);

      .markdown-embed-link {
        color: $indigo;

        &:hover {
          color: $cyan;
        }
      }
    }
  }
}
