@import "../../colors.scss";

.markdown-preview-view {
  ul ul,
  ol ol,
  ul ol,
  ol ul {
    padding-inline-start: 30px;
  }

  ul:not(.contains-task-list) ul:not(.contains-task-list) {
    border-left: 1px solid rgba($indigo, 0.25);
    margin-left: -12px;
    padding-inline-start: 42px;
  }

  ul,
  ol {
    li {
      margin: 5px 0;
    }
  }

  ul {
    list-style: none;

    li:not(.task-list-item)::before {
      content: "\2022";
      color: $indigo;
      font-weight: bold;
      display: inline-block;
      width: 1em;
      margin-left: -1em;
    }
  }

  .list-collapse-indicator {
    color: $indigo;
  }

  li > p {
    display: inline;
  }
}
