name: "premerge"
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v2

      - name: Install NPM dependencies
        run: npm install

      - name: Lint
        run: npm run lint:check

      - name: Build
        run: npm run build

      - name: Check obsidian.css is checked in
        run: git diff-index --quiet HEAD --
